################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net6.0/Logs/Xplor.WebAutomation.PlaygroundLogs.log
/bin/Debug/net6.0/ExtentReports
/bin/Debug/net6.0/Logs/Xplor.WebAutomation.PlaygroundLogs.log
