################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/bin/Debug/net6.0/ExtentReports
/bin/Debug/net6.0/Logs
/bin/Debug/net6.0/MochaHomeAccounting.dll
/bin/Debug/net6.0/MochaHomeAccounting.pdb
/bin/Debug/net6.0/nunit_random_seed.tmp
/obj/Debug/net6.0/ref
/obj/Debug/net6.0/refint
/obj/Debug/net6.0
/obj/Release/net6.0
/obj
